body {
  background: #f2f2f2;
}

.left { float: left; }
.right { float: right; }
.main-content .clear { clear: both; }

.btn {
  background: #73B441;
  background-image: -webkit-linear-gradient(top, #73B441, #395A20);
  background-image: -moz-linear-gradient(top, #73B441, #395A20);
  background-image: -ms-linear-gradient(top, #73B441, #395A20);
  background-image: -o-linear-gradient(top, #73B441, #395A20);
  background-image: linear-gradient(to bottom, #73B441, #395A20);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  border: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.btn-secondary {
  font-size: 14px;
  padding: 8px 20px;
}

.main-header,
.main-content {
  margin: 0 auto;
  padding: 20px 15px;
  width: 770px;
}

.main-header {
  height: 100px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-top: 10px;
}

.main-content {
  background: #fff;
  border: 1px solid #ADADAD;
  height: 500px;
}



/* left side */
.main-content > .left {
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 2px 2px 5px 1px #adadad;
  box-shadow: 2px 2px 5px 1px #adadad;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  display: inline-block;
  width: 382px;
}

.left .box {
  border: 1px solid #ccc;
  padding: 20px;
}

.js-column-1 {
  display: inline-block;
  margin: 0 0 5px;
  text-align: right;
  width: 80px;
}

.json-items .js-column-1 {
  vertical-align: top;
}

.js-column-2 {
  display: inline-block;
  margin: 0 0 0 5px;;
}

.todo-form {
  margin: 10px 0;
}

.todo-form .js-item-input,
.json-items textarea {
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #f2f2f2;
  padding: 5px;
  width: 180px;
}

.todo-form .js-item-input {
  margin-right: 10px;
  width: 150px;
}

.json-items textarea {
  font-size: 14px;
  height: 80px;
  margin: 0 0 10px;
  width: 230px;
}



/* right side */
.main-content > .right {
  display: inline-block;
  width: 348px;
}

.right > p {
  border-bottom: 1px solid #333;
  margin: 0;
  padding: 0 0 10px;
}

/* list styling */
.todo-items,
.todo-items li {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: none;
}

.todo-items li {
  border-bottom-color: #cecece;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  padding: 10px 0;
}

.todo-items .list-item-position  {
  /*background: #FCFFAD;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,e8e1be+100 */
  background: rgb(254,252,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,252,234,0.3) 0%, rgba(232,225,190,0.3) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,0.3)), color-stop(100%,rgba(232,225,190,0.3))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,252,234,0.3) 0%,rgba(232,225,190,0.3) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,252,234,0.3) 0%,rgba(232,225,190,0.3) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,252,234,0.3) 0%,rgba(232,225,190,0.3) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(254,252,234,0.3) 0%,rgba(232,225,190,0.3) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#e8e1be',GradientType=0 ); /* IE6-9 */

  margin: 5px 10px 5px;
  padding: 5px;
}

.list-item-title {
  color: #ffa600;
}

.list-item-title-delete {
  color: #1C86EE;
}

.list-item-title-delete:hover {
  cursor: pointer;
  text-decoration: underline;
}
